:root {
  --spacing-none: 0;
  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

.lh-copy {
  line-height: 1.5;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial,
    sans-serif;
}

code,
.code {
  font-family: Consolas, monaco, monospace;
}

a,
a:visited {
  color: #000;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap1 {
  gap: var(--spacing-extra-small);
}

.py1 {
  padding-top: var(--spacing-extra-small);
  padding-bottom: var(--spacing-extra-small);
}

.diff-indicator {
  padding: 0px 4px;
  border-radius: 2px;
}

.diff-line {
  display: block;
  width: 100%;
}

.diff-add {
  background-color: #ccffcc;
}

.diff-remove {
  background-color: #ffcccc;
}

.diff-blank-line {
  background-color: #f0f0f0;
}

.progress-container {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin: 20px 0;
}

.progress-bar {
  height: 24px;
  background-color: #4caf50;
  border-radius: 4px;
}

.progress-text {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
